:root {
    --primary-color: #75DAB4;
    --background-color: #ffffff;
    --text-color: #000000;
    --border-color: #75DAB4;
    --shadow-color: rgba(100, 100, 111, 0.2);
    --heading-color: #333;
    --footer-bg-color: #13161d;
    --footer-text-color: #999999;
    --link-hover-color: #217fff;

    --background-color-invert: #000;
    --text-color-invert: #fff;
    --hero-section-text: #5d5d5d;
    --skill-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

body.dark-mode {
    --background-color: #121212;
    --text-color: #f5f5f5;
    --border-color: #64a98f;
    --shadow-color: rgba(255, 255, 255, 0.1);
    --heading-color: #f5f5f5;
    --footer-bg-color: #0a0a0a;
    --footer-text-color: #666666;

    --background-color-invert: #fff;
    --text-color-invert: #000;
    --hero-section-text: #fff;
    --skill-box-shadow: rgb(255 255 255 / 52%) 0px 7px 29px 0px;
}

/* Apply the theme */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

html {
    font-size: 16px;
}

.udys-btn {
    border: none;
    text-transform: uppercase;
    background-color: var(--primary-color);
    font-size: 1.125rem;
    font-weight: 500;
    padding: 15px 35px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--heading-color);
}

/* Navbar */
.navbar li {
    list-style-type: none;
    display: inline-block;
    margin: 5px 2rem;
}

.navbar li > a {
    color: var(--heading-color);
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.navbar li > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
}

.navbar li > a:hover::after, li > a.active::after {
    width: 100%;
    background: var(--primary-color);
}

.navbar .dropdown-toggle::after {
     border-top: none; 
     border-right: none; 
     border-bottom: 0; 
     border-left: none; 
    background: var(--primary-color);
}

.navbar .portfolio-theme-btn{
    border: none;
  background-color: var(--background-color-invert);
    color: var(--text-color-invert);
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Media Queries */
@media (min-width: 0) {
    .navbar-expand {
        flex-wrap: nowrap;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-item {
        margin-right: 15px;
    }
}

/* First Section */
.first-section {
    padding: 2rem 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

.first-section img {
    max-width: 23rem;
    border: 4px solid var(--border-color);
    border-radius: 20px;
}

.first-section .bullseye i {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.first-section .bullseye p {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.first-section h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1rem 0rem;
    letter-spacing: 3px;
}

.first-section h1 span {
    background-color: rgba(117, 218, 180, 0.63);
}

.first-section p {
    font-size: 1.175rem;
    font-weight: 500;
    text-align: justify;
    word-spacing: 5px;
    color: var(--hero-section-text);
}

.first-section .icons {
    font-size: 1.5rem;
}

.first-section .icons a {
    text-decoration: none;
    color: var(--heading-color);
}

.first-section .icons a:hover {
    color: var(--border-color);
}

.first-section .icons i {
    padding: 0rem 5px;
}


/* limited section */
/* *************************************************************** */
.limited{
    padding: 5rem 0rem 2rem;
}
.limited .heading{
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}
.limited .heading p{
    color: #75DAB4;
    font-weight: 300;
    font-size: 1.063rem;
    text-transform: uppercase;
    letter-spacing: 14px;
    margin-bottom: 5px;
    position: relative;
}
.limited .heading p span{
    font-size: 9rem;
    position: absolute;
    left: 30%;
    top: -3.125rem;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 0 0 3px #000000;
    opacity: 0.15;
    z-index: -1;
}
.limited .heading h2{
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.limited .content{
    text-align: center;
}
.limited .content p{
    ont-size: 1rem;
    color: var(--text-color);
    line-height: 3.5rem;
}
/* *************************************************************** */



/* *************************************************************** */
/* project section */
/* *************************************************************** */
.project{
    padding: 5rem 0rem;    
}
.project .heading{
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}
.project .heading p{
    color: #75DAB4;
    font-weight: 300;
    font-size: 1.063rem;
    text-transform: uppercase;
    letter-spacing: 14px;
    margin-bottom: 5px;
    position: relative;
}
.project .heading p span{
    font-size: 9rem;
    position: absolute;
    left: 20%;
    top: -3.125rem;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 0 0 3px #000000;
    opacity: 0.15;
    z-index: -1;
}
.project .heading h2{
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.project .content{
    text-align: center;
}
.project .content p{
    ont-size: 1rem;
    color: var(--text-color);
    line-height: 1.5rem;
    padding: 2rem 0rem 1rem;
}
/* *************************************************************** */


/*-------------------------------------------------------------------*/
/* Education Section */
/* ################################################################# */

.education-bg {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                    url("../../assets/images/education_section_bg.jpg");
  background-attachment: fixed; 
  background-size: cover;
  background-position: center;
  padding: 100px 0; 
  color: #fff;
  z-index: -2;
}

.education{
    z-index: 1;
}

.education .heading{
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}
.education .heading p{
    color: #75DAB4;
    font-weight: 300;
    font-size: 1.063rem;
    text-transform: uppercase;
    letter-spacing: 14px;
    margin-bottom: 5px;
    position: relative;
}
.education .heading p span{
    font-size: 9rem;
    position: absolute;
    left: 20%;
    top: -3.125rem;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 0 0 3px #000000;
    opacity: 0.15;
    z-index: -1;
}
.education .heading h2{
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.education .content{
    text-align: left;
    margin-top: 3rem;
}
.education .content p{
    font-size: 1.175rem;
    font-weight: 500;
    color: #fff;
    line-height: 2rem;
    padding: 1rem 0rem 0rem;
}

/* *************************************************************** */

/*-------------------------------------------------------------------*/
/* Skills Section */
/* ################################################################# */
.skill{
    padding: 2rem 0rem 5rem;
}
.skill h2 span{
    display: block;
    width: 10%;
    border: 1px solid #ddd;
    margin: 15px auto 15px auto;

}
.skill .box img{
    filter: grayscale(10%);
}
.skill .subSkill .myPadding {
    padding: 1rem 2.5rem;
}
.skill .subSkill .box {
    padding: 2rem;
    background-color: white;
    box-shadow: var(--skill-box-shadow);
    border-radius: 15px;
}
.skill .fimiliar{
    padding-top: 2.5rem;
}
.skill .fimiliar .box {
    padding: 0.5rem;
    box-shadow: var(--skill-box-shadow);
    background-color: white;
    border-radius: 15px;
}
.skill .fimiliar .myPadding {
    padding: 1rem 2.5rem;
}

/* ################################################################# */

/* udys corpotation section */
/* *************************************************************** */
.udys-corp{
    padding: 5rem 0rem;    
}
.udys-corp .heading{
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}
.udys-corp .heading p{
    color: #75DAB4;
    font-weight: 300;
    font-size: 1.063rem;
    text-transform: uppercase;
    letter-spacing: 0.875rem;
    margin-bottom: 5px;
    position: relative;
}
.udys-corp .heading p span{
    font-size: 9rem;
    position: absolute;
    left: 20%;
    top: -3.125rem;
    color: #0c0f16;
    font-weight: 700;
    text-shadow: 0 0 3px white;
    opacity: 0.15;
    z-index: -1;
}
.udys-corp .heading h2{
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.udys-corp .content{
    text-align: center;
}
.udys-corp .content p{
    ont-size: 16px;
    color: #000;
    line-height: 1.5rem;
    padding: 2rem 0rem 1rem;
}
/* *************************************************************** */


/* curriculum section */
/* *************************************************************** */

.curriculum{
    padding: 5rem 0rem;    
}
.curriculum .heading{
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}
.curriculum .heading p{
    color: #75DAB4;
    font-weight: 300;
    font-size: 1.063rem;
    text-transform: uppercase;
    letter-spacing: 14px;
    margin-bottom: 5px;
    position: relative;
}
.curriculum .heading p span{
    font-size: 9rem;
    position: absolute;
    left: 20%;
    top: -3.125rem;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 0 0 3px #000000;
    opacity: 0.15;
    z-index: -1;
}
.curriculum .heading h2{
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.curriculum .content{
    text-align: center;
}
.curriculum .content p{
    line-height: 1.5rem;
    padding: 2rem 0rem 1rem;
    font-size: 1.125rem;
    text-align: justify;
    word-spacing: 5px;
    color: var(--text-color);
}


.curriculum  .curriculum-box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    min-height: 21rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1.5rem;
    padding: 2rem 2rem;
    text-align: left;
}

.curriculum  .curriculum-box h6{
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 600;
}

.curriculum  .curriculum-box i{
    font-size: 3rem;
}
.curriculum  .curriculum-box p{
    font-size: 0.9rem;
    font-weight: 500;
    color: #999;
    text-align: justify;
}
.curriculum  .curriculum-box.one{
    
}
.curriculum  .curriculum-box.one i{

}
.curriculum  .curriculum-box.one p{

}
.curriculum  .curriculum-box.two{
    background-color: #75DAB4;
    margin-top: 3rem;
}
.curriculum  .curriculum-box.two i{
    color: #0c0f16;
}
.curriculum  .curriculum-box.two p{
    color: #0c0f16;
}
.curriculum  .curriculum-box.three{
    margin-top: 6rem;
}
.curriculum  .curriculum-box.three i{

}
.curriculum  .curriculum-box.three p{

}
.curriculum .curriculum-box .link-line{
    display: flex;
    align-items: center;
    justify-content: center;

}

.curriculum .curriculum-box .link-line a{
    text-decoration: none;
    display: flex;
}

.curriculum .curriculum-box .link-line a:hover{
    color: #217fff;
}

.curriculum .curriculum-box .link-line a p{
    font-size: 1rem;
    margin: 0;
    color: #333;
}

.curriculum .curriculum-box .link-line a:hover p{
    color: #217fff;
}

.curriculum .curriculum-box .link-line a i{
    font-size: 1.5rem;
}
/* *************************************************************** */


/* Books Page */
/* *************************************************************** */
.books{
    padding: 5rem 0rem;    
}
.books .heading{
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}
.books .heading p{
    color: #75DAB4;
    font-weight: 300;
    font-size: 1.063rem;
    text-transform: uppercase;
    letter-spacing: 14px;
    margin-bottom: 5px;
    position: relative;
}
.books .heading p span{
    font-size: 9rem;
    position: absolute;
    left: 32%;
    top: -3.125rem;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 0 0 3px #000000;
    opacity: 0.15;
    z-index: -1;
}
.books .heading h2{
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.books .content{
    text-align: center;
}
.books .content p{
    line-height: 1.5rem;
    padding: 2rem 0rem 1rem;
    font-size: 1.125rem;
    text-align: center;
    word-spacing: 5px;
    color: var(--text-color);
}
.books h3{
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    margin: 2rem 0rem 1rem;
}

.books .book-box{
    box-shadow: var(--skill-box-shadow);
    padding: 1.25rem;
    border-radius: 1rem;
    min-height: 34rem;
    max-width: 18rem;
    background-color: #fff;
    margin-bottom: 2rem;
}

.books .book-box .image{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.books .book-box .image img{
    border-radius: 1rem;
    max-height: 20rem;
    border: 2px dashed #2d2d2d;
}

.books .book-box .title{
    font-size: 1.75rem;
    font-weight: 600;
    margin: 1rem 0 0;
    color: #3e3e3e;
}

.books .book-box .author{
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 0 0.75rem;
    color: #434343;
}

.books .book-box .review{
    font-size: 1rem;
    font-weight: 400;
    color: #111;
}

/* *************************************************************** */


/* footer */
/* *************************************************************** */
.udys-footer{
    text-align: center;
    padding: 1.5rem 0rem 3rem;
    background-color: #13161d;
}
.udys-footer p{
    font-size: 0.875rem;
    color: #999999;
}
/* *************************************************************** */

@media (max-width: 995px) {
    html { font-size: 12px; }
}

@media (max-width: 768px) {

html { font-size: 12px; }

}

@media (max-width: 568px) {
    html { font-size: 12px; }
    .curriculum .heading p, .limited .heading p, .project .heading p, .education .heading p, .books .heading p {
        display: none;
    }
}
/* Media Query (Mobile) */
@media (max-width: 450px) {

    html { font-size: 12px; }

    .first-section .mobile h1 {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        margin: 1rem 0rem;
        letter-spacing: 3px;
        line-height: 4rem;
    }

    .first-section img {
    border: 6px solid #66ad93;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

    /*.curriculum .heading h2, .limited .heading h2, .project .heading h2 {
        line-height: 4rem;
    }*/
}